.card {
  width: 100dvw;
  height: 100dvh;
  padding: 10rem 1rem 1rem 1rem;
  background-color: var(--color-bg-mid);
  overflow-y: auto;
  z-index: 2;
}

@media (min-width: 770px) {
  .card {
    width: 60dvw;
    height: 90dvh;
    border-radius: 1em;
    box-shadow: 0 0 1rem var(--color-shadow);
    margin: 2rem;
    font-size: 1.15em;
    padding: 13rem 2rem 2rem 2rem;
    max-width: 700px;
  }
}