* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-dark);
  color: var(--color-text);
  overflow: none;
}

ul,
li {
  list-style: none;
}

h1, h2, h3 {
  color: var(--color-title);
  margin-bottom: 0.5rem;
}


a {
  text-decoration: none;

  &:hover {
    animation: none;
    color: var(--color-pink-600);
    cursor: pointer;
  }
}

header {
  margin-bottom: 2rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
}

button {
  background-color: var(--color-bg-light);
  border-radius: 0.5em;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  color: var(--color-cyan-200);

  &:hover {
    background-color: hsl(240, 50%, 50%);
  }

  &:active {
    transform: scale(0.98);
  }
}

input {
  border: none;
  border-radius: 8px;
  padding: 0.5em;
  outline: none;
}

input, textarea {
  background-color: var(--color-bg-light);
  color: var(--color-text);
  font-size: 1.15rem;
}

textarea {
  resize: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

fieldset {
  border-radius: 0.5rem;
  background-color: var(--color-bg-mid);
  border: none;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.outline {
  &:focus {
    outline: solid 1px var(--color-text);
    outline-offset: 2px;
  }
}

.outline-danger {
  outline: solid 1px var(--color-pink-600);
  outline-offset: 2px;
}

.shake-animation {
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
}

:root {
  --color-bg-dark: hsl(240, 50%, 3%);
  --color-bg-mid: hsl(240, 50%, 6%);
  --color-bg-light: hsl(240, 50%, 9%);
  --color-title: hsl(240, 50%, 90%);
  --color-text: hsl(240, 50%, 70%);

  --color-orange-600: oklch(0.646 0.222 41.116);
  --color-cyan-400: oklch(0.789 0.154 211.53);
  --color-sky-600: oklch(0.588 0.158 241.966);
  --color-indigo-950: oklch(0.257 0.09 281.288);
  --color-gray-600: oklch(0.446 0.03 256.802);
  
  --color-pink-600: oklch(0.592 0.249 0.584);
}