.popup {
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  width: 100%;
}

.toast-message {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  box-shadow: 0 0 0.2em var(--color-indigo-950);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-bg-light);
  animation: fade-in 0.3s ease-in-out;
}

.danger {
  border: 2px solid var(--color-pink);
}

.warn {
  border: 2px solid var(--color-orange);
}

.success {
  border: 2px solid var(--color-text);
}

.fade-out {
  animation: fade-out 0.3s ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 770px) {
  .popup {
    width: 50dvw;
  }
}